@model MovieManiaPr02.Models.Movie

<form asp-action="@ViewBag.Action" method="post" class="mb-3">

    @if(ViewBag.IsEdit)
    {
        <input type="hidden" asp-for="MovieId" />
    }

    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ReleaseYear" class="form-label"></label>
        <input asp-for="ReleaseYear" class="form-control" />
        <span asp-validation-for="ReleaseYear" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DurationInMinutes" class="form-label"></label>
        <input asp-for="DurationInMinutes" class="form-control" />
        <span asp-validation-for="DurationInMinutes" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Rating" class="form-label"></label>
        <input asp-for="Rating" class="form-control" />
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-action="Index" asp-controller="Movies" class="btn btn-secondary">Cancel</a>
</form>
